
<div class="subPostHeaderWrapper">
    <div class="subPostHeader">
        <div class="headitem {{'active-nav' if category == 'All' }}"><a href="/menu">All</a></div>
        
        {% for item in categories %}
        <div class="headitem {{'active-nav' if category == item['category']|title }}"><a href="/{{item['category']|title}}">{{ item['category'] | title }}</a></div>
        {% endfor %}
        <div class="headitem placeholder-category">
            <a href="/customization">
                <span class="plus-icon">+</span>
            </a>
        </div>
    </div>
</div>
        
<style>
    .placeholder-category {
        display: inline-block;
        background-color: rgba(33, 31, 31, 0.1);
        border-radius: 5px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.5rem;
        text-align: center;
        cursor: pointer;
        transition: background 0.3s ease-in-out;
    }

    .placeholder-category:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .plus-icon {
        font-weight: bold;
    }
</style>