{% extends 'layout.html' %}

{% block title %}
<title>login</title>
{% endblock %}

{% block main %}
    <form class="py-5" action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="text-center mb-3">
            <button type="submit" class="btn btn-dark btn-block mt-4 button-main">Log In</button>
        </div>
        <div class="text-center">
            <a href="/pwdemailconfirmation" class="d-block text-muted mt-2">Forgot your password?</a>
        </div>
    </form>
{% endblock %}
{% block content %}
{% endblock %}