<!-- Table Number Modal -->
<div class="modal fade" id="paidAmount" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cashAmountTitle">Enter Paid Amount</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="cashAmountForm">
                    <div class="mb-3">
                        <label for="cashAmount" class="form-label">Cash Amount</label>
                        <input type="number" name="cashPaid" class="form-control" id="cashAmount" min="0" placeholder="0" required>
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Save Changes Modal -->
<div class="modal fade" id="saveChangesModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveChangesTitle">Confirm Changes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to save the changes?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-dark" id="saveChangesButton" form="paymentForm">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- discount selection-->
<div class="modal fade" id="discountSelection" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Discounts</h4>
            </div>
            <div class="modal-body">
                <form id="voucherSearch">
                    <input type="text" class="form-control mb-3 mt-2" name="codeSearch" id="codeSearch" placeholder="Enter promo or gift code here">
                    <button type="submit" style="display: none;">Search</button>
                </form>

                {% for ticket in tickets %}
                <div class="offer-item">
                    <img src="{{ticket.image}}" alt="Discount Icon">
                    <div class="offer-details">
                        <div class="title" data-item-discount="{{ticket.discount}}" data-item-image="{{ticket.image}}" data-item-title="{{ticket.title}}" data-item-voucher="{{ticket.discount_code}}">{{ticket.title}} | {{ticket.discount}}% off</div>
                        <div class="Voucher">Voucher: {{ticket.discount_code}} </div>
                        <div class="description">{{ticket.description}}</div>
                    </div>
                    <div class="offer-action">+</div>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>
</div>
