{% extends 'layout.html' %}

{% block title %}
<title>Payment Option</title>
{% endblock %}

{% block main %}
<div class="container-fluid text-center py-5" style="background-color: #d6d6d6; color:rgb(0, 0, 0); height: 100vh;">
    <h1 class="display-5">Complete Your Payment</h1>
    <p class="lead message">Please scan the QR code below to complete your payment.</p>
    <!-- QR Code Image -->
    <img src="/static/images/qris.jpg" alt="QR Code" class="qr-code" style="height:500px;">
    <!-- Optional: Add instructions or a button -->
    <div class="button-container d-flex justify-content-center mt-4">
        <form action="/thankOrder" method="post" class="mx-2">
            <button class="btn btn-dark" type="submit">Continue</button>
        </form>
    </div>
</div>
{% endblock %}
